body { font-family: helvetica; }

@trackColor: #666;
@waterColor: #639dd4;

#graphs {
    margin-left: 580px;
    width: 744px;
}

.graph {
    height: 200px;
}

#wind_graph {
    height: 100px;   
}
#twd_graph {
    height: 100px;   
}

#heel_graph {
    
}

.line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.grid {
    .tick {
        stroke: lightgray;
        opacity: 0.7;
    }
    path {
        stroke-width: 0;
    }
}

rect.water {
    fill: @waterColor;
}

.wind line {
    stroke-width: 1;
    stroke: #666;
}

.compass {
    @roseColor: #734e98;
    @roseStrokeWidth: .5;

    circle {
        stroke-width: @roseStrokeWidth;
        stroke: @roseColor;
        fill: none;
    }

    path {
        stroke-width: @roseStrokeWidth;
        stroke: @roseColor;
        fill: @waterColor;
    }

    .ew {
        fill: @waterColor;
    }

    text {
        fill: @roseColor;
        font-size: 11px;
    }
}

.tack-label {
    stroke-width: .35;
    stroke: #fff;
    cursor: pointer;
}

.track {
    fill: none;
    stroke: @trackColor;
    stroke-width: 1;
    /*stroke-opacity: .65;*/
}

.boat {
    fill: @trackColor;
    stroke: @trackColor;
}

circle.timing {
    fill: none;
    stroke: @trackColor;
    stroke-dasharray: 2,2;
}

.tackGraph {
    height: 300px;
    width: 400px;
    display: inline-block;

    .axis text {
        font-size: 10px;
    }

    line.timing {
        stroke: #000;
        stroke-width: .5;
    }

    .grid .tick {
        stroke: #ccc;
        stroke-width: .5;
        stroke-dasharray: 3,3;
    }
}

.tackMap {
    height: 200px;
    width: 200px;
    display: inline-block;
}